<div style="width: 80%;margin: AUTO;">
<h1>Vlogs</h1>

<table class="table table-striped table-bordered table-hover">
  <%if user_signed_in?%>
    <thead class="table-dark">
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>User name</th>
        <th>User Id</th>
        <th colspan="1"></th>
      </tr>
    </thead>
  <%else%>
    <thead class="table-dark">
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>User name</th>
        <th>User Id</th>
      </tr>
    </thead>
  <%end%>
  <tbody>
    <% @vlogs.each do |vlog| %>
      <tr>
        <td><%= link_to vlog.title, vlog %></td>
        <td><%= vlog.content[0,100] %>
            <%if vlog.content.length > 100 %>
             ...
            <%end%>
        </td>
        <td><%= vlog.user_name %></td>
        <% if vlog.user_id == 5 %>
          <td> Anonymous</td>
        <%else%>
          <td><%= vlog.user_id%></td>
        <%end%>
        <% if user_signed_in? and vlog.user == current_user%>
          <td><%= link_to 'Delete', vlog, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger" %> </td>
        <%elsif user_signed_in? %>
          <td> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vlog', new_vlog_path, class:"btn btn-primary"%>
</div>