<%= comment.created_at %>
<% if comment.user_id == 5%>
	Anonymous User
<% else %>
  User <%= comment.user_id %>
  <%if comment.user.nil?%>
      (Account Cancled)
  <%end%>
<% end %>
commented:
<div class="card">
  <div class="card-body">
    <%= comment.comment%>
    <br/>
   </div>
   <div class="card-footer text-muted">
    <%#= link_to "Show", vlog_comment_path(@vlog.id, comment.id), class:"btn btn-outline-info btn-sm" %>
    <% if user_signed_in? and comment.user == current_user %>
      <strong>
      <%= link_to "Edit", edit_vlog_comment_path(comment.vlog, comment), class:"btn btn-outline-info btn-sm" %>
      <%= link_to 'Delete Comment', [comment.vlog, comment], method: :delete, data: { confirm: 'Are you sure?'}, class:'btn btn-outline-danger btn-sm'%>
      </strong>
    <% end %>
  </div>
</div>
<br/>
<br/>