<%= form_for([@vlog, @vlog.comments.build]) do |form| %>

  <div class="field form-group">
    <div class="actions">
    <%= form.submit class:"btn btn-primary btn-sm"%>
    </div>
    <%= form.text_area :comment, class:"form-control", placeholder:"New Comment" %>
  </div>

  <div class="field form-group">
    <%= form.number_field :vlog_id, class:"form-control", type: :hidden%>
  </div>

  <% if user_signed_in?%>
    <div class="field form-group">
      <%= form.number_field :user_id, class:"form-control", value:current_user.id, type: :hidden%>
    </div>
  <%else%>
    <div class="field form-group">
      <%= form.number_field :user_id, class:"form-control", value:5, type: :hidden%>
    </div>
  <%end%>
<% end %>
