<h1 class="text-6xl font-bold leading-normal mt-0 mb-2">New Post</h1>


<%= form_with model: @post_from_db do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title, :class=>"px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border-0  focus:outline-none ring w-full"%>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body, :class=>"px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border-0  focus:outline-none ring w-full"%>
  </div>

  <div>
    <%= form.submit "Create", :class=> 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
  </div>
<% end %>

